[flake8]
max-line-length = 100
exclude =
    .venv/*,
    */migrations,
    __pycache__,
    manage.py,
    core/settings.py
   ./media/*
   ./static/*
   .dockerignore
   Dockerfile
   requirements.txt
   start.sh